@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/aframe.js"></script>
    <script src="~/js/aframe-ar-nft.js"></script>

    <script src="~/js/aframe-look-at-component.js"></script>
    <script type='text/javascript' src='~/js/ar-threex-location-only.js'></script>
    <script src="~/js/arNew.js"></script>
</head>
<body style="margin: 0; overflow: hidden;">
    <a-scene vr-mode-ui="enabled: false"
             arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'>
        <a-assets>
            <img id="pinLocation" src="~/img/pin_location.png">
            <img id="tatekanban" src="~/img/tatekanban.png">
        </a-assets>
        <a-camera id="myCamera" gps-new-camera rotation-reader rotation="">
        </a-camera>
    </a-scene>
</body>
</html>